html {
  height: 100%;
}

.header {
  margin: 0;
  /* background-color: green; */
  background-image: linear-gradient(darkgreen, green);
  text-align: center;
  font: 30px 'Pacifico', Helvetica, sans-serif;
  padding-bottom: 4px;
  line-height: 1.2;
  color: yellow;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.4), 7px 7px 0px rgba(0,0,0,0.05);
  margin-bottom: 4px;
  min-height: 3vh;
  width: auto;
}

.body {
  min-height: 80vh;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgb(230, 230, 230); */
  background-image: linear-gradient(darkgrey, rgb(230, 230, 230));
  text-align: center;
}

.body img{
  margin: 0px;
}

.search {
  display: flex;
  justify-content: space-evenly;
  min-height: 5vh;
  width: auto;
}

#input {
  min-height: 2vh;
  width: auto;
  margin: 4px 4px;
  padding: 4px 4px;
  border: 1px solid darkslategray;
  border-radius: 3px;
 }

#search {
  padding: 1px 20px;
  margin: 4px 4px;
  font-family: 'Orbitron', sans-serif;
  border: 1px solid darkslategray;
  border-radius: 3px;
}

#content {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  background-color: whitesmoke;
  margin: 2px 5px;
  min-height: 42vh;
  }

.bars {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 2px;
  text-align: left;
  list-style: none;
  font-size: 20px;
  }

.list {
  padding-top: 1px;
  padding-bottom: 1px;
  /* padding-right: 5px;
  padding-top: 1px; */

}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#ride {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 2px;
}

#uber {
  margin: 0;
  padding: 4px 20px;
  background-color: #f1f1f1;
  border: 2px solid darkslategray;
  border-radius: 12px;
  font-family: 'Orbitron', sans-serif;
}

.white {
  color: white;
}

.dreamlight {
  padding: 1px;
  /* background-color: darkgreen; */
}

 .footer {
  padding: 0px;
  /* position: fixed; */
  min-height: 8vh;
  width: auto;
  margin: 0;
  background-image: linear-gradient(green, rgb(0, 71, 0));
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: whitesmoke;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.25), 3px 3px 0px rgba(0,0,0,0.05);
}

.title {
  font-size: 15px;
}

/* Style the tab */
.tab {
  margin-left: 2px;
  min-height: 5vh;
  width: auto;
  overflow: hidden;
  background-color: darkgrey;
  }

/* Style the buttons that are used to open the tab content */
.tab button {
  min-height: 5vh;
  padding: 5px 15px;
  width: auto;
  background-color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid darkslategray;
  border-radius: 3px;
  font-family: 'Orbitron', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: lightslategrey;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}