html {
  height: 100%;
}

.header {
  margin: 0;
  background-color: green;
  text-align: center;
  font: 30px 'Pacifico', Helvetica, sans-serif;
  padding-bottom: 4px;
  line-height: 1.2;
  color: yellow;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.4), 7px 7px 0px rgba(0,0,0,0.05);
  margin-bottom: 3px;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 15px Helvetica, sans-serif;
  background-color: rgb(230, 230, 230);
  text-align: center;
}

#search {
  padding-right: 42px;
  padding-left: 42px;
  margin-bottom: 0;
}

.bars {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: left;
  list-style: none;
  font-size: 14px;
}

.list {
  padding-right: 5px;
  padding: 2px;
}

input {
  margin: 5px;
 }

 a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#content {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  background-color: whitesmoke;
  margin: 2px 5px;
}

#ride {
  display: flex;
  justify-content: space-around;
  margin: 0;
  /* background-color: white; */
  padding-top: 4px;
  padding-bottom: 2px;
}

#uber {
  margin: 0px;
  padding: 5px 45px;
  background-color: #f1f1f1;
  border: 1px solid grey;
  border-radius: 3px;
}

.white {
  color: white;
}

 .footer {
  padding: 1px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: green;
  text-align: center;
  font: 15px Helvetica, sans-serif;
  color: whitesmoke;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.25), 3px 3px 0px rgba(0,0,0,0.05);
}

.title {
  font-size: 15px;
}
/* 
.tagline {
  font-size: 12px;
} */

.tagline p{
  font-style: italic;
  font-size: 12px;
  margin: 5px 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  margin-left: 2.75px;
  transition: 0.3s;
  border: 1px solid grey;
  border-radius: 3px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: lightslategrey;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
